@using Microsoft.AspNetCore.Components.Authorization
@using STIMULUS_V2.Client.Services;
@using STIMULUS_V2.Shared.Models.Entities;
@using System.Text.Json;
@using System.Net;
@using Radzen.Blazor;
@using Radzen;
@using STIMULUS_V2.Client.Shared.HomeComponent
@using STIMULUS_V2.Shared.Interface.ChildInterface;

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject AppState State;
@inject ICoursService coursService

@page "/"

<div>
    <AuthorizeView Roles="ADMIN">
        <div class="container text-center">
            <h1>Bienvenue sur Stimulus!</h1>
        </div>
        <HomeAdminComponent />
    </AuthorizeView>

    <AuthorizeView Roles="PROFESSEUR">
        <div class="container text-center">
            <h1>Bienvenue sur Stimulus!</h1>
        </div>
        <HomeTeacherComponent />
    </AuthorizeView>

    <AuthorizeView Roles="ETUDIANT">
        <div class="container text-center">
            <h1>Apprenez sur Stimulus!</h1>
            <p>L'application utilisée partout au cégep de Jonquière</p>
        </div>
        <HomeStudentComponent />
    </AuthorizeView>
</div>

<style>
    .page-title {
    
        margin-top: 20px;
    }
</style>

@code {

}
