.custom-header-background {
    background-color: darkblue;
}

.custom-header-radzen-profilemenu{
    margin-left: 68%
}

.custom-header-image {
    text-align: center;
    width: 10%;
    height: 10%;
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

.custom-header-radzen-breadcrumb{
    font-size:smaller;
    font-weight:bolder;
}
