.custom-home-spacing {
    padding-top: 20%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.custom-homestudent-searchbar{
    border-radius: 50px;
    overflow: hidden;
    display: inline-block;
    width: 200%;
    height: 5%;
}

.custom-homestudent-role-text{
    padding-top: 1%;
}

.custom-homestudent-help-text a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.3s ease;
    padding-top: 0%;
}

    .custom-homestudent-help-text a:hover {
        color: #000080;
        text-decoration: underline;
    }

.custom-homestudent-searchbar-container {
    padding-right: 14%;
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 110%; /* Ajustez la position selon vos besoins */
    transform: translateY(-50%);
    color: #555; /* Couleur de l'icône */
    cursor: pointer;


}
/*
.custom-shape-divider-bottom-1701457915 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

    .custom-shape-divider-bottom-1701457915 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 113px;
    }

    .custom-shape-divider-bottom-1701457915 .shape-fill {
        fill: #FFFFFF;
    }*/
