/*Cette sectionm comporte l'ensemble des composants Home*/
.custom-home-spacing {
    padding-top: 20%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/*Cette section comprend l''ensemble du composant HomeStudent*/
.custom-homestudent-searchbar{
    border-radius: 50px;
    overflow: hidden;
    display: inline-block;
    width: 200%;
    height: 5%;
}

.custom-homestudent-role-text{
    padding-top: 1%;
}

.custom-homestudent-help-text a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.3s ease;
    padding-top: 0%;
}

    .custom-homestudent-help-text a:hover {
        color: #000080;
        text-decoration: underline;
    }

.custom-homestudent-searchbar-container {
    padding-right: 14%;
    position: relative;
    display: inline-block;
}

.custom-homestudent-wave-effect-color .shape-fill {
    fill: #F1F6F9;
}

.custom-homestudent-search-icon {
    position: absolute;
    top: 50%;
    left: 110%; /* Ajustez la position selon vos besoins */
    transform: translateY(-50%);
    color: #555; /* Couleur de l'icône */
    cursor: pointer;
}

/*Cette section comprend l'ensemble du composant HomeTeacher*/
.box-display {
    text-align: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
