<div class="custom-home-spacing">@*style="background-image: url('/RessourceVisuel/FondTest.jpg')"*@    
    <div class="container text-center">
        <div class="custom-homestudent-searchbar-container">
            <span class="material-icons search-icon">search</span>
            <RadzenTextBox class="custom-homestudent-searchbar" Placeholder="Rechercher..." />
        </div>
        <div class="custom-homestudent-role-text">
            <p class="lead">Vous êtes un étudiant</p>
        </div>
        <div class="custom-homestudent-help-text">
            <a href="/aide">Besoin d'aide pour commencer?</a>
        </div>
    </div>
    </div>

@code {

}
