<h3 class="custom-theory-video">Composant vidéo</h3>
<iframe width="560" height="315" style="padding-left:1%;" src="https://www.youtube.com/embed/GHTA143_b-s" frameborder="0" allowfullscreen></iframe>

@code {

}
